body{
    width: 100%;
}

p{
    position: relative;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 80px;
    width: 80%;
    left: 10%;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

@media only screen and (min-width: 81mm){
background-color: rgb(60, 0, 0);
.navPgOne{
    position: absolute;
    top: 0;

}
.dropdown{
    color: rgb(122, 122, 122);
    background-color: grey;
    display: none;
    width: 90px;
    height: 40px;
    position: absolute;
}

#dropdownBase{
    background-color: red;
    width: 120px;
    height: 20px;
}

#navBase{
    background-color: white;
    width: 100%;
    height: 6%;
}

#catInAmbulance{
    position: absolute;
    top: 70%;
    left: 0%;
    width: 10%;
    height: auto;
    z-index: 2;
}

#catInAmbulanceShadow{
    position: absolute;
    top: 70.3%;
    left: 0%;
    filter:brightness(0%);
    opacity: 60%;
    width: 10.5%;
    height: auto;
    z-index: 1;
}

@keyframes catRide {
    0% {transform: translateX(0px);}
    25% {transform: translateX(25%);}
    50% {transform: translateX(50%);}
    75% {transform: translateX(75%);}
    100% {transform: translateX(100%);}
}
}

@media only screen and (max-width: 302.37){
body{background-color: blue;}
.navPgOne{
    position: fixed;
}

.pgTitle{
     width: 100%;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 2%;
    top: 1%;
}

#pageTitle{
    font-size: 30px;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    background-color: black;
    width: 70%;
    height: 6.75%;
    z-index: 5;
    left: 0px;
    background-blend-mode: color-burn;
}

#navBase{
    background-color: rgb(175, 175, 175);
    width: 7%;
    height: 100%;
    z-index: 1;
    opacity: 40%;
    left: 0;
    top: 0%;
}

.dropdown{
    color: wheat;
    background-color: rgb(60, 0, 0);
    border-left-color: aliceblue;
    border-left-width: 1px;
    border-left-style: solid;
    display: none;
    width: 20%;
    z-index: 3;
    font-size: 15px;
    font-weight: 700;
    text-shadow: .75px 3px 2px rgb(0, 0, 0);
    height: 2.25%;
    position: absolute;
    top: 10.5%;
    text-align: center;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
}

#navImgHome{
    width: 8%;
    z-index: 3;
    height: auto;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

#dropdownBase{
    background-color: red;
    width: 9%;
    height: 20px;
    z-index: 2;
    left: .5%;
    opacity: 40%;
    top: 8%;
}

#catInAmbulance{
    position: absolute;
    top: 70%;
    left: 0%;
    width: 10%;
    height: auto;
    z-index: 2;
}

#catInAmbulanceShadow{
    position: absolute;
    top: 70.3%;
    left: 0%;
    filter:brightness(0%);
    opacity: 60%;
    width: 10.5%;
    height: auto;
    z-index: 1;
}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

